<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <header>
        <h1>About Our Travel Agency</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/destinations">Destinations</a>
            <a href="/contact">Contact Us</a>
            <a href="/booking">Booking</a>

        </nav>
    </header>

    <section class="content">
        <p>We are passionate about helping people explore the world and create lasting memories.</p>
    </section>
</body>
</html>
