<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <header>
        <h1>Top Destinations</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/destinations">Destinations</a>
            <a href="/contact">Contact Us</a>
            <a href="/booking">Booking</a>

        </nav>
    </header>

    <section class="cards">
        <div class="card">Bali</div>
        <div class="card">Paris</div>
        <div class="card">New York</div>
    </section>
</body>
</html>
